* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color: #febd69;
  --primary-shade: #c49644;
}
.rating {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}